nav {
  background-color: #FFFFFF;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  padding: 40px;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  margin-right: 100px;
}

nav li {
  margin: 0 20px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  transition: all 0.2s ease-in-out;
}

nav a:hover {
  background-color: #000000;
  color: #d5d5d5;
}

.logo-container {
  margin-right: 1rem; /* Add a right margin for some space between the logo and the navigation links */
  order: -1; /* Add this line to move the logo container to the far left */
  
}

.logo {
  height: 80px;
  width: auto;
  margin-right: 1100px
}

@media only screen and (max-width: 767px) {
  .header {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .logo-container {
    margin-bottom: 20px;
  }

  ul {
    flex-direction: column;
    margin-bottom: 20px;
  }

  li {
    margin: 10px 0;
  }
}