.projects-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-image {
  width: 80%;
  height: auto;
  margin-top: 30px;
}

.project-title {
  font-family: 'Raleway';
  font-size: 30px;
}

.project-tools {
  font-family: 'Raleway';
  font-size: 20px;
}

.project-box {
  text-align: left;
  margin-left: 70px;
  margin-right: 100px;
}

@media only screen and (max-width: 767px) {
  .projects-container {
    flex-direction: column;
    align-items: center;
  }

  .project-box {
    width: 100%;
    max-width: 400px;
    margin-bottom: 40px;
    text-align: center;
  }

  .project-image {
    width: 100%;
    max-width: 400px;
  }

  .project-title {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .project-description {
    margin-bottom: 10px;
  }

  .project-tools {
    margin-bottom: 20px;
  }
}
