
  

.projects-container {
    display: flex; /* Change from grid to flex */
    justify-content: space-evenly; /* Distribute the images evenly */
  }
  
  .project-image {
    width: 80%; /* Adjust the width to make the images smaller */
    height: auto; /* Maintain the aspect ratio */
    align-items: left;
    margin-top: 30px;
  }
  
  .project-title {
    font-family: 'Raleway';
    font-size: 30px;
    align-items: left;
  
  }

  .projects-container {
    align-items: left;

    
}

  .project-tools {
    font-family: 'Raleway';
    font-size: 20px;
    align-items: left;

   
  }

  .project-box {
    align-items: left;
  }
  @media only screen and (max-width: 767px) {
    .project-image {
      display: table-column;
      margin: 0 auto;
      position: fixed
    }
  }
  
  